
.ayat{
    text-align: justify;
    line-height: 2em;
    font-size: 45px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    
   
}
.allAyat{
    display: block;
    list-style-type: disc;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 0 auto;
    padding: 30px;
    border: 0;
    width: 1000px;
    font-size: 100%; 
    font: inherit;
    
    background-color: antiquewhite;
    color:black;
}
.LineAya{
    display: inline;
    text-align: justify;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 300px;
    font: inherit;
   
}
a{
    font-size: 30px !important;
    margin-bottom: 100px !important ;
}
.LineAya a{
    text-align: justify;
    font-family: "QuranFont", QuranFont;
    font-weight: normal;
    margin: 0;
   
    border: 0;
   
    font: inherit;
   
}
div p{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}